table, th, td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
  }

th {
    background-color: #4CAF50;
    color: white;
}
th:hover {
    background-color: #521616cb;
}
tr:hover {
      background-color: #968d8dcb;
}

input{
      margin: 3px;
}